.container div{
  border: 1px solid;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 10px;
}

.red{
  background-color: red;
}

.container .green{
  background-color: green;
  height: 90px;
}

.container  .blue{
  background-color: blue;
  height: 80px;
}

.container .black{
  background-color: black;
  height: 70px;
}
