Swap elements

<div class='container'>
  <div class='red'></div>
  <div class='green'></div>
  <div class='blue'></div>
  <div class='black'></div>
</div>

<%= link_to 'Swap red blue', '#', :class => 'swap_red_blue' %>
<%= link_to 'Swap red black', '#', :class => 'swap_red_black' %>